<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    
    <title>DRAKE Career Break Down</title>
</head>

<body>
    <h1 class="hidden">Drake Career Infographic Website</h1>

    <header id="mainHeader">
        <img src="images/drake_logo.svg" alt="DRAKE, Career break down" id="drake">
        <img src="images/ovo.svg" alt="OVO"  id="ovo">
    </header>

    <main >

        <div>
            <img src="images/graph.svg" alt="Drake Earnings Graph">
        </div>

        <div class="timeline">
            <div class="container left">
              <div class="content">
                  <img src="images/birthday.svg" alt="">
                  <span class="see-more" data-target="1">READ MORE</span>
              </div>
            </div>

            <div class="container right">
              <div class="content">
                  <img src="images/degrassi.svg" alt="">
                  <span class="see-more" data-target="2">READ MORE</span>
              </div>
            </div>

            <div class="container left">
              <div class="content">
                  <img src="images/mixtape.svg" alt="" id="info1">
                  <span class="see-more" data-target="3">READ MORE</span>
              </div>
            </div>

            <div class="container right">
              <div class="content">
                  <img src="images/single.svg" alt="">
                  <span class="see-more" data-target="4">READ MORE</span>
              </div>
            </div>

            <div class="container left">
              <div class="content">
                  <img src="images/2011.svg" alt="">
                  <span class="see-more" data-target="5">READ MORE</span>
              </div>
            </div>

            <div class="container right" id="info2">
              <div class="content">
                  <img src="images/record.svg" alt="">
                  <span class="see-more" data-target="6">READ MORE</span>
              </div>
            </div>
          </div>

          <div class="container left">
              <div class="content">
                  <img src="images/2015.svg" alt="">
                  <span class="see-more" data-target="7">READ MORE</span>
              </div>
            </div>

            <div class="container right">
              <div class="content">
                  <img src="images/2016.svg" alt="">
                  <span class="see-more" data-target="8">READ MORE</span>
              </div>
            </div>
          </div>

          <div class="container left">
              <div class="content">
                  <img src="images/2017.svg" alt="">
                  <span class="see-more" data-target="9">READ MORE</span>
              </div>
            </div>

            <div class="container right">
              <div class="content">
                  <img src="images/streams.svg" alt="">
                  <span class="see-more" data-target="10">READ MORE</span>
              </div>
            </div>
          </div>

          <div class="container left">
              <div class="content">
                  <img src="images/grammys.svg" alt="">
                  <span class="see-more" data-target="11">READ MORE</span>
              </div>
            </div>

          <article class="popover">
              <p class="drake-bio"></p>
          </article>
    </main>

    <footer>
      <p>DESIGNED & DEVELOPED BY GRAHAM VICKERS</p>
    </footer>
    <script src="js/main.js"></script>
</body>
</html>